---
import Default from "@astrojs/starlight/components/Footer.astro";

const id = Astro.locals.starlightRoute.id ?? "";
const isHomepage = id === "" || id === "zh-cn";
---

{
  isHomepage ? (
    <footer class="text-center">Powered by 🌟 <a href="https://starlight.astro.build/">Astro's Starlight</a></footer>
  ) : (
    <Default>
      <slot />
    </Default>
  )
}
